= form_with(model: team, local: true) do |form|
  - if team.errors.any?
    #error_explanation
      %h2
        = pluralize(team.errors.count, "error")
        prohibited this team from being saved:
      %ul
        - team.errors.full_messages.each do |message|
          %li= message
  .form-group
    = form.label :name
    = form.text_field :name, id: :team_name, class: 'form-control'
  .form-group
    = form.label :description
    = form.text_area :description, id: :team_description, class: 'form-control'
  .form-group
    = form.label :public
    = form.number_field :public, id: :team_public, class: 'form-control'
  .form-group
    = form.label :shareable
    = form.number_field :shareable, id: :team_shareable, class: 'form-control'
    = form.collection_check_boxes(:keep_teammate_ids, team.teammates.all, :id, :name) do |b|
      .form-check
        = b.check_box(checked: true, class: "form-check-input")
        = b.label(class: "form-check-label") 
    = team.teammates.count
  .actions
    = form.submit 'Submit', class: 'btn btn-primary'
