= form_with(model: team, local: true) do |form|
  - if team.errors.any?
    #error_explanation
      %h2
        = pluralize(team.errors.count, "error")
        prohibited this team from being saved:
      %ul
        - team.errors.full_messages.each do |message|
          %li= message
  .form-group
    = form.label :name
    = form.text_field :name, id: :team_name, class: 'form-control'
  .form-group
    = form.label :description
    = form.text_area :description, id: :team_description, class: 'form-control'
  .form-group
    .form-check.form-check-inline
      = form.check_box :public, id: :team_public, class: 'form-check-input'
      = form.label :public, class: 'form-check-label', for: 'team_public'
    .form-check.form-check-inline
      = form.check_box :shareable, id: :team_shareable, class: 'form-check-input'
      = form.label :shareable, class: 'form-check-label', for: 'team_public'
  .actions
    = form.submit 'Submit', class: 'btn btn-primary'
