%nav.navbar.navbar-expand-md.navbar-light.bg-light.fixed-top
  = link_to 'Elbie', root_path, class: 'navbar-brand'
  %button.navbar-toggler{"aria-controls" => "mainNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#mainNav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  .navbar-collapse.justify-content-end.collapse{ id: 'mainNav' }
    .navbar-nav.profile-management-links
      - if user_signed_in?
        = link_to 'Edit Profile', edit_user_registration_path, class: 'nav-item nav-link'
        = link_to 'Logout', destroy_user_session_path, class: 'nav-item nav-link'
      - else
        = link_to 'Login', new_user_session_path, class: 'nav-item nav-link'
        = link_to 'Join', new_user_registration_path, class: 'nav-item btn btn-primary'
        